* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background: #ffffff;
    color: #111111;
}
main{
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.form-card {
    position: relative;
    width: 100%;
    margin: 20px;
    padding: 3em;
    max-width: 470px;
    background: #ffffff;
    border-radius: 1em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

h1 span {
    color: #7c3aed;
}

.textinho {
    color: #666666;
    margin-bottom: 35px;
}

.campo {
    margin-bottom: 20px;
}

.campo label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
}

.campo input {
    width: 100%;
    height: 50px;
    padding: 0 15px;

    border: 1px solid #d4d4d4;
    border-radius: 8px;
    background: #ffffff;
    color: #111111;

    font-size: 15px;
    outline: none;
    transition: 0.2s;
}

.campo input:focus {
    border-color: #7c3aed;
    box-shadow: 0 0 0 3px rgba(124, 58, 237, 0.1);
}

a {
    color: #7c3aed;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    height: 50px;

    border: none;
    border-radius: 8px;

    background: #7c3aed;
    color: white;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.2s;
}

button:hover {
    background-color: #602bbc;
    transform: translateY(-2px);
}

#mensagemDeErro {
    margin-top: 9px;
    text-align: center;
    font-size: 14px;
    color: #cf1414;
}

.confirmar {
    text-align: center;

    margin-top: 25px;

    color: #666666;
    font-size: 14px;
}

@media (max-width: 500px) {

    h1 {
        font-size: 30px;
    }

    .form-card {
        max-width: 100%;
    }

}